@charset "utf-8";
@import "base.css";
@import url("base.css");
:root html, :root div {
  color: #000; background: #ff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: url("/images/logo.gif");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/logo.gif", sizingMethod=scale);
}
